body{
    font-family: Poppins;
    margin: 0;
}

.account-container{
    width: 80%;
    height: 60%;
    margin: auto;
}

form h1{
    font-size: 40px;
    padding-left: 20px;
    border-bottom: solid rgb(116, 114, 112);

}

.form-group i{
    margin: 10px 5px;
}

.form-group label{
    display: inline-block;
    margin-top: 5px;
}

.form-group input{
    border:solid;
    display: block;
    width: 50%;
    height: 30px;
    margin-left: 18px;
}

.metrics input{
    border: solid;
    display: inline-block;
    width: 25%;
}
.invalid-feedback{
    color: red;
    font-size: 13px;
}

.btn input{
    border: none;
    color: white;
    font-size: 17px;
    background-color: black;
    margin: 20px;
    width: 120px;
    height: 35px;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.btn input:hover{
    color: black;
    background-color: rgb(225, 225, 225);
}

