.article-top{
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.article-top button{
    background-color: black;
    border: none;
    height: 40px;
    width: 150px;
    margin-top: 10px;
    border-radius: 6px;
    margin-right: 10px;
}

.article-top button a,
.article-top button a:hover{
    text-decoration: none;
    color: white;
}

.article-container{
    border: solid rgb(214, 214, 214);
    margin: 10px;
    margin-bottom: 20px;
    max-height: 280px;
    overflow:hidden;
}

.article-container div{
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid rgb(214, 214, 214);
    align-items: center;
}

.article-container div a{
    margin-right: 10px;
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

.article-container h2{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
}

.article-container h2 a{
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.839);
}

.article-container p{
    padding-left: 10px;
}

.show-article div{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.update-btn{
    margin-left: 80%;
    border: solid;
    background-color: black;
    font-size: 14px;
    height: 32px;
    width: 70px;
    border-radius: 6px;
    margin-top: 20px;
}

.update-btn a,
.update-btn a:hover{
    text-decoration: none;
    color: white;
}


.show-article h2{
    margin-top: 0px;
}

.article-form{
    margin: 10px;
    margin-top: 30px;
}

.article-form label{
    display: block;
    font-weight: bold;
}

.article-form input{
    width: 100%;
    height: 20px;
}

.content-input{
    width: 100%;
    height: 250px;
}
