body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(251, 251, 251);
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid rgb(235, 231, 231)
}

.logo{
    height: 120px;
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.links::after{
    content: '';
    height: 2px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.links:hover::after{
    width: 100%;
}

.nav-btn{
    padding: .5rem 2rem;
    border: solid;
    background-color: white;
    border-radius: 5px;
}

.nav-btn:hover{
    background-color: rgb(233, 233, 233);
}


.bottom-body h1{
    text-align: center;
    color: black;
    font-size: 50px;
    margin-top: 10%;
}

.container{
    top: 50%;
    max-width: 1200px;
    height: 500px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    border-bottom: solid rgb(235, 231, 231);
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
}

.content h1{
    font-size: 50px;
    font-weight: 400;
    line-height: 3.5rem;
    color: black;
    margin-bottom: 5px;
}

.content p{
    font-weight: 700;
    color: rgb(67, 65, 65);
    margin-bottom: 5px;
}

.heading{
    font-weight: 700;
    color: rgb(66, 62, 62);
}

.content button{
    background-color: white;
    border: solid;
    font-size: 18px;
    height: 50px;
    width: 130px;
    border-radius: 50px;
    cursor: pointer;
    margin: 30px 15px;
    transition: 0.5s;
}

.content button a{
    color: black;
    text-decoration: none;
}

.image-container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    place-content: center;
    margin-top: 100px;
}

.image-container img {
    width: 100%;
    max-width: 300%;
    margin: auto;
    border-radius: 10px;
}

.image-container img:nth-child(1){
    transform: translateY(70px);
}

.image-container img:nth-child(2){
    transform: translateY(-70px);
}

.image-content{
    position: absolute;
    width: 100%;
    max-width: 310px;
    left: 50%;
    top:50%;
    transform: translate(-35%, 50%);
    background: linear-gradient(to right,
        black, grey
    );
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}

.image-content li{
    margin-bottom: 5px;
}

.workout-wrapper,
.article-wrapper {
    max-height: 300px;
    display: flex;
    overflow-x: auto;
    border-bottom: solid rgb(235, 231, 231);
}

.workout-wrapper::-webkit-scrollbar,
.article-wrapper::-webkit-scrollbar{
    width: 0;
}

.workout-wrapper div,
.articles {
    flex: 0 0 calc(30% - 40px);
    border: 1px solid #ccc;
    border: solid;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    transition: transform 0.3s ease;
}

.workout-wrapper div:hover,
.articles:hover {
    transform: translateY(-5px);
}

.article-date{
    padding: 20px;
    border-bottom: solid #ccc;
}

.article-title h1 {
    font-size: 30px;
    margin-top: 0;
    margin-top: 5px;
    padding: 0;
    border-bottom: solid #ccc;
    border-width: 100%;
}

.article-content{
    white-space: pre-line;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;    -webkit-box-orient: vertical;
}

.workout-wrapper div{
    height: 200px;
}

.workout-wrapper{
    margin-bottom: 30px;
}

.workout-wrapper div h2{
    border-bottom: solid;
    border-bottom-color: lightgrey;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 20px;
}



.workout-wrapper div h3{
    padding-top: 10px;
    text-transform: capitalize;
    margin-left: 10px;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.footer{
    background-color: black;
    color: white;
    padding: 70px 0;
}

.footer-container{
    max-width: 1170;
}

.footer-container ul{
    list-style: none;
}

.footer-logo{
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-right: 20px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row img{
    width: 150px;
    height: 120px;
}

.col{
    width: 25%;

}

.col h4{
    font-size: 18px;
    margin-left: 50px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}

.col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 75px;
}

.col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    display: block;
    color: white;
    transition: all 0.3s ease;
}

.col ul li a:hover{
    color: white;
    padding-left: 8px;
}

.social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
}

.about-container{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-container h1{
    color: #333;
    text-align: center;
}

.about-container p{
    line-height: 1.6;
    margin-bottom: 20px;
}



.lead{
    color: black;
    padding: 10%;
    padding-left: 40%;
    padding-top: 5%;
}

.hidden{
    opacity: 0;
    transition: all 3s;
}

.show{
    opacity: 1;
}


