{% extends "layout.html" %}
{% block content %}
    <div class="about-container">
        <h1>About Fit Future</h1>
        <p>Welcome to Fit Future, your ultimate fitness companion! Whether you're a beginner or a fitness enthusiast, Fit Future is here to help you achieve your health and fitness goals.</p>
        
        <h2>Our Mission</h2>
        <p>At Fit Future, our mission is to empower individuals to lead healthier lives by providing them with the tools, resources, and support they need to succeed on their fitness journey.</p>

        <h2>Features</h2>
        <ul>
            <li>Personalized workout plans tailored to your fitness level and goals.</li>
            <li>Learn from a variety of fitness articles to enhance your knowledege and understanding of health and fitness topics</li>
            <li>Connect with a community of like-minded individuals for motivation and support.</li>
        </ul>

        <h2>Contact Us</h2>
        <p>If you have any questions, feedback, or suggestions, please don't hesitate to <a href="mailto:info@fitfuture.com">contact us</a>. We'd love to hear from you!</p>
    </div>
{% endblock %}