{% extends "layout.html" %}
{% block content %}
    <section class="container">
        <div class="content">
            <h1>Building Better Bodies,<br>
                <span class="heading">Brighter Futures</span>
            </h1>
            <p>
                Join now and start your journey with us
            </p>
            {% if not current_user.is_authenticated %}
                <button><a href="{{ url_for('register') }}">Join Now</a></button>
            {% endif %}
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/img-1.jpg') }}">
            <img src="{{ url_for('static', filename='images/img-1.jpg') }}">
            <div class="image-content">
                <ul>
                    <li>Start building your workouts now</li>
                    <li>Educate yourself</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="bottom-body">
        <h1 class="hidden"> Trending Articles </h1>
        <div class="article-wrapper hidden">
            {% for article in articles %}
            <div class="articles">
                <div class="article-date">
                    {{ article.date_posted.strftime('%Y-%m-%d') }}/{{article.author.firstname}} {{article.author.lastname}}
                </div>
                <div class="article-title">
                    <h1><a href="{{ url_for('article', article_id=article.id) }}">{{ article.title }}</a></h1>
                </div>
                <div class="article-content">
                    <p>{{ article.content }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <h1 class="list-workouts">Your Workouts</h1>
        {% if current_user.is_authenticated %}
            {% if workouts %}
                <div class="workout-wrapper hidden">
                    {% for workout in workouts %}
                        <div>
                            <h2><a href="{{ url_for('my_workouts')}}">{{ workout.workout_day }}</a></h2>
                            <h3>{{ workout.muscle_groups }}</h3>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="no-workout" style="margin: 8%; margin-left: 30%; font-size: 20px;">You have no workouts planned. Click <a href="{{ url_for('workout') }}">here</a> to plan your workout</p>
            {% endif %}
        {% else %}
            <h3 class="lead">Sign Up <a href="{{ url_for('register') }}">here</a> and plan your workouts</h3>
        {% endif %}
    </div>
    <footer class=footer>
        <div class="footer-container">
            <div class="row">  
                <img src="{{ url_for('static', filename='images/logo-white.png') }}" class="footer-logo">
                <div class="col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="{{ url_for('about') }}">about us</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Follow us</h4>
                    <div class="social-links">
                        <ul>
                            <a><i class="fab fa-facebook-f"></i></a>
                            <a><i class="fab fa-twitter"></i></a>
                            <a><i class="fab fa-telegram"></i></a>
                            <a><i class="fab fa-instagram"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock content %}