<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit Future</title>
    <!--Font style CSS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,200&display=swap" rel="stylesheet">

    <!--CSS links-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/account.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/workout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/article.css') }}">
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-FyZjFBnEriD6D1qEXZexnMuy0N5wM1g0T8YZvIsfYHxKCfGCD8Pkf0r0ZUqzU5yJ" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c6a8e8b0a7.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" rel="stylesheet">
    <!---JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home')}}"><img src="{{ url_for('static', filename='images/logo-black.png') }}" class="logo"></a>
        <ul>
            <li><a href="{{ url_for('articles') }}" class="links" >Article</a></li>
            <li><a href="{{ url_for('workout')}}" class="links">Workout Planning</a></li>
            <li><a href="#" class="links">Progress Tracking</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('account') }}" class="links">Account</a></li>
            <li><a href="{{ url_for('logout') }}" class="nav-btn">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('register') }}" class="nav-btn">Sign Up</a></li>
            <li><a href="{{ url_for('login') }}" class="nav-btn">Login</a></li>
            {% endif %}
        </ul>
    </div>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='js/workout.js') }}"></script>

      <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap Multiselect JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
</body>
</html>
