<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-FyZjFBnEriD6D1qEXZexnMuy0N5wM1g0T8YZvIsfYHxKCfGCD8Pkf0r0ZUqzU5yJ" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c6a8e8b0a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/account.css')}}">
    </head>
    <style>
        .container{
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(0,0,0,0.75), rgba(30, 29, 29, 0.75)), url("{{ url_for('static', filename='images/background.jpg') }}");
            background-size: cover;
            background-position: center;
            position: relative;
        }
    </style>
<body>
    <div class="container">
        <form method="POST" action="/register" class="form-box">
            <h1>Sign Up</h1>
            {{ form.hidden_tag() }}
            <div class="mb-3 form-group">
                <i class="fa-solid fa-envelope"></i>
                <label for="email" class="form-label">Email</label>
                {% if form.email.errors %}
                        {{ form.email(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                        {% for error in form.email.errors%}
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                {% else %}
                    {{ form.email(class='form-control form-control-lg') }}  
                {% endif %}
            </div>
            <div class="mb-3 form-group">
                <i class="fa-solid fa-lock"></i>
                <label for="password" class="form-label">Password</label>
                {% if form.password.errors %}
                        {{ form.password(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                        {% for error in form.password.errors%}
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                {% else %}
                    {{ form.password(class='form-control form-control-lg') }}  
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">{{ form.submit }}</button>
        </form>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-x9SGUjkf4EV5eqQjllA5oYfoMzhpXkH2AB/sDU39+5eIIboZ/+F2gYagIxhFhA1t" crossorigin="anonymous"></script>
</body>
</html>
