{% extends "workout_days.html" %}
{% block content %}   
    <div class="Monday-workout" style="display:none;">
        <h1>Monday Workout</h1>
    </div> 
    <div class="Tuesday-workout" style="display:none;">
        <h1>Tuesday Workout</h1>
    </div>
    <div class="Wednesdey-workout" style="display:none;">
        <h1>Wednesdey Workout</h1>
    </div>
    <div class="Thursday-workout" style="display:none;">
        <h1>Thursday Workout</h1>
    </div>
    <div class="Friday-workout" style="display:none;">
        <h1>Friday Workout</h1>
    </div>
    <div class="Saturday-workout" style="display:none;">
        <h1>Saturday Workout</h1>
    </div>
    <div class="Sunday-workout" style="display:none;">
        <h1>Sunday Workout</h1>
    </div>   
{% endblock content %}